@import "tailwindcss";

@theme {
  --color-primary: #F3731C; /* Color naranja principal de la marca */
  --color-primary-dark: #D66317; /* Versión más oscura para hovers */
}

@custom-variant dark (&:where(.dark, .dark *));
