@import "tailwindcss";

@theme {
  --color-primary: #ecc813;
  --color-background-light: #f8f8f6;
  --color-background-dark: #221f10;
  --color-deep-green: #1A3C34;
  --color-deep-green-light: #2C5E52;
  --font-display: "Work Sans", "sans-serif";
}

@custom-variant dark (&:where(.dark, .dark *));

/* Custom scrollbar for ingredient lists if needed */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
